.nav-tab-wrapper ul li a i {
    font-size: 24px;
}
.nav-tab-wrapper i {
    width: 0;
    height: 0;
}
.hearder-wrapper .well .dropdown-toggle {
    color: #777;
    font-size: 10px;
    padding: 7px 15px;
    border-color: #ddd;
    margin-top: -3px;
    margin-right: 26px;
}
.hearder-wrapper .well .dropdown-toggle .fa-comments-o {
    font-size: 16px;
    display: inline;
    margin-right: 4px;
    top: -1px;
}
.hearder-wrapper .well .fa-chevron-circle-down {
    color: #A5CC5C;
    left: -32px;
    top: -2px;
    font-size: 27px;
}
.hearder-wrapper .list-group {
    width: 100%;
    float: left;
}
.hearder-wrapper .list-group-1 {
    width: 69%;
}
.hearder-wrapper .list-group-2 {
    width: 29%;
    margin-left: 15px;
}
.list-group-item h5 {
    font-weight: 600;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.hearder-wrapper .list-group-1 .dropdown button {
    background: transparent;
    color: #444;
    padding: 6px 16px;
    font-size: 11px;
    margin-right: 5px;
    border-color: #ddd;
}
.hearder-wrapper .list-group-1 .dropdown{
    margin-top: -6px;
}
.hearder-wrapper .list-group-1 .dropdown img {
    width: 28px;
}
.item-inner {
    font-size: 13px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}
.item-inner button {
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background: #666;
    padding: 6px 10px;
    float: left;
    margin-right: 14px;
}
.item-inner .span-style {
    color: #797979;
    font-weight: 600;
    font-size: 11px;
}
.list-group-1 .pull-right{
    margin-top: -14px;
}
.list-group-1 .pull-right button{
    border-radius: 50px;
    font-size: 11px;
    padding: 5px 18px;
    background: transparent;
    color: #666;
    text-transform: uppercase;
}
.list-group-1 .pull-right i {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px;
    font-size: 11px;
    color: #999;
}
.list-group-1 .pull-right .fa-search {
    right: 6px;
}
.btn-75:hover {
    color: #fff;
    background-color: #666;
}
.list-group-2 img {
    width: 40px;
    float: left;
    margin-right: 6px;
}
.list-group-2 .list-group-item {
    padding: 17px 12px;
    padding-bottom: 7px;
}
.list-group-2 .list-group-item p {
    font-size: 12px;
    font-weight: 600;
    color: #999;
    margin-top: 4px;
}
.list-group-2 .list-group-item p span {
    color: #555;
}